{% extends "base.html" %}
{% block content%}
    <p>Username: {{ user.username }}</p>
    <br>
    <p>Email: {{ user.email }}. <a href="/profile/email/">Change your email.</a> </p>
    <br>
    <p><a href="/profile/password/">Change your password.</a> </p>
    <!-- TODO make the user profile show active actions -->
    {% if auctions %}
        <p>List of your active auctions:</p>
        {% for auction in auctions %}
            <li><a href="/editauction/{{ auction.id }}/">{{ auction.item.title }}</a> </li>
        {% endfor %}
    {% endif %}
{% endblock content %}